<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Machine Learning Lab</title>
    <style>
        * {
            box-sizing: border-box;

        }

        .navbar {
            text-align: center;
            width: 100px;

        }

        .a {
            color: rgb(254, 253, 253);
            padding: 3px;
            padding-left: 35px;
            font-size: 25px;
            text-decoration: none;
            margin-top: 10px;
        }

        .nav_image {
            height: 230px;
            width: 700px;
            margin-left: 400px;
        }

        .navbar_a {
            width: 1500px;
            height: 50px;
            background-color: rgb(184, 7, 7);

        }

        @media only screen and (min-width:300px) and (max-width:2000px) {

/* For desktop: */
.navbar {
    display: block;
}

.a {
    display: block;
}

.nav_image {
    display: block;
}

.navbar_a {
    display: flex;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
}

}
    </style>
</head>

<body>
    <nav class="navbar">
        <img src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')}}" class="nav_image">
        <br>
        <div class="navbar_a">
            <a href="/index" class="a">HOME</a>
            
        </div>
    </nav>

   
        <div>
            <img src="{{ url_for('static',filename = 'image/Meeting.gif')}}" style="width:500px; height:400px;margin-left:480px">
        </div>

        <div style="background-color: rgb(255, 255, 255);width: 1400px;">
            <h1 style="text-align: center;padding-left:50px;">About Us</h1>
            <hr style="width: 1400px; margin-left:50px;">
            <br>
            <p style="font-size:30px;text-align:justify; color:rgb(4, 4, 5); padding-left:50px;">This summer Poornima
                Institute of
                Engineering
                and Technology provide us space for 2nd year student“To create an environment in which new ideas,
                research and technology
                development and the technocrats and
                innovators of tomorrow become competent to face the global challenges”, In these academic years
                Department of Computer Engineering (CS), PIET has
                achieved lot of success and earn many achievements. I am glad to inform that we has been accredited by
                National Board of
                Accreditation (NBA) in year 2017-18 and it is now in elite list of departments in India. It has taken
                initiative to start own
                portal for the home assignment submission and awarding marks. There is many other software are also used
                which are developed
                by the faculty members and students of Department such as cspiet.poornima.org, KYS, cstech.poornima.org.
                Because of all
                this efforts and team work Department has been recognized as one of the most innovative department in
                Poornima foundation.</p>
        </div>

        <h1 style="text-align: center;margin-left:650px; "  class="col-1">Contribution</h1>
        <hr style="width: 1400px; margin-left:50px;">
        <table>
            <tr>
                <th>
                    <div style="margin-right:60px; width:400px;">
                        <img style="max-height:150px;max-width:200px;margin-left:100px; border-radius:30px ; margin-top: 50px;"
                            src="{{ url_for('static',filename = 'image/khushboo.jpeg')}}" class="card-img-top" alt="...">
                        <div>
                            <h5 style="text-align:center;margin-left: 100px;">
                                Developer</h5>
                        </div>
                        <p class="card-text" ;
                            style="text-align:center;margin-left: 100px; font-family: 'Times New Roman', Times, serif;">
                            Kumari khushboo
                            , 2nd Year Student, Department of Computer Engineering, PIET</p>
                        <br><br><br><br><br><br><br><br>

                    </div>
                </th>

                <th>
                    <P style="font-size:20px;text-align:justify; color:rgb(100, 100, 101); padding-left:50px; width: 900px;">
                        I am Kumari khushboo 2nd year Btech Computer Science
                        student of Poornima Institute of Engineering and Technology. I am an enthusistics and fast
                        learner,
                        I have keen interest in
                        Data Science and Machine Learning. Fortunately this summer our college has provided us to
                        opportunity. I have developed
                        this project under the guidence of our HOD , Mr. Deepak Moud and Department of Computer
                        Engineering.
                        This internship was fun with lots
                        of learnings.
                        I have already published 1 review papers under this Institution in my First year
                        
                        Now after this internship, I feel confident enough to step into coorporate sector and explore
                        more
                        skills.
                    </P>
                    <br><br><br><br><br><br><br><br>
                </th>
            </tr>
        </table>


        <div>
            <img src="{{ url_for('static',filename = 'image/final project qr-code.jpeg')}}" style="width:500px; height:450px;margin-left:480px">
            <h1 style="text-align:center; padding: 30px;"> This is my final project QR-code </h1>
        </div>

   
    <div style="background-color:rgb(232, 231, 231); width: 1400px; margin-left:50px;">
        <h1 style="text-align:center; padding: 30px;">Disclaimer</h1>

        <p style="font-size:20px;text-align:justify;color:rgb(43, 40, 40);text-align:center; padding: 30px;;">This
            website contains images and content obtained by
            routine Google Images/document searches. Some of these images/data may perhaps be under copyright. They are
            included here for educational and noncommercial
            purposes and are considered to be covered by the doctrine of Fair Use. In any event they are easily
            available from Google Images/data.It's not feasible
            to give full scholarly credit to the creators of these images/data. We hope they can be satisfied with the
            positive role.</p>
            

    </div>

    <br>
    <br>


    <div style="width:1500px; padding:50px">
        <center>
            <h3  style="text-align: center; font-size: 30px; font-size: 40px;">Sponsored by</h3>
            <hr style="width: 1400px; ">
        </center>
        <div style="margin-left: 420px; padding: 30px;">
            <table>
                <tr>

                    <th> <img style="max-height: 300px;"
                            src="{{ url_for('static',filename = 'image/AICTEIdeaLabFooterLogo.png')}}"></th>
                    <th> <img style="max-height: 300px;" src="{{ url_for('static',filename = 'image/nbanew.png')}}">
                    </th>
                </tr>
            </table>
        </div>


        <!-- change later-->
        <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

        <div style="background-color:rgb(198, 10, 10);">
            <marquee width="100%" direction="left" height="30px" style="color:white; font-size: 20px;">
                Department of Computer Science and Engineering
            </marquee>
        </div>
</body>

</html>